<div id="map" aria-label="Conflict Map"></div>

<script>
  const conflicts = <%- JSON.stringify(get_all_conflicts()) %>;
  const newsItems = <%- JSON.stringify(get_all_news()) %>;
  const themeConfig = <%- JSON.stringify(theme) %>;
</script>
