<footer>
  <div class="container">
    <a href="<%- url_for('cgu') %>">Conditions Générales d'Utilisation</a> |
    <a href="<%- url_for('politique-de-confidentialite') %>">Politique de Confidentialité</a>
  </div>
</footer>
